<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/main.js"></script>
    </head>
<body>
    <div class="topnav">
        <a href="/">Koti</a>
        <a href="/guestbook">Vieraskirja</a>
        <a href="/newmessage">Uusi Kirjaus</a>
        <a class="active" href="/ajaxmessage">ajax</a>
        </div>
    <div>
      <form method="POST" action="/t">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="käyttis"
            name="username"
            required 
          />
        </div>
        <div class="form-group">
            <label>Country</label>
            <input
            type="text"
              class="form-control"
              id="country"
              placeholder="maaaa"
              name="country"
              required  
            />
          </div>
          <div class="form-group">
            <label>Message</label>
            <input
            type="text"
              class="form-control"
              id="message"
              placeholder="käyttis"
              name="message"
              required  
            />
          </div>
        <button type="button" id="nappula" class="btn btn-primary">
          Submit
        </button>
      </form>
    </div>

    <div id="div1"></div>
    
 </body>
 </html>
